.cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../public/portfolio-cover-pc-24.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    margin-top: 65vh;
    z-index: 2;
}

.marquee_content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
    min-width: 100%;
    color: var(--catchy-color);
    font-size: 6rem;
    font-weight: 700;
    animation: scroll 30s linear infinite;
}

.decoDot {
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--catchy-color);
    border-radius: 50%;
    margin: 0 .2rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@media screen and (max-width: 768px) {
    /* .marquee {
        margin-top: 0;
    } */

    .marquee_content {
        font-size: 5rem;
    }

    .decoDot {
        width: 10px;
        height: 10px;
    }

    .cover {
        background: url(../../public/portfolio-cover-mobile-24.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee_content {
        animation-play-state: paused !important;
    }
}