/* Desktop Header */
.header {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 5;
}

.header.dark {
  color: var(--balck);
}

.header svg {
  width: 24px;
  height: 24px;
}

.brand {
  padding: 0;
  cursor: pointer;
}

.brand,
.navInfos {
  flex: 1 0 25%;
}

.navMain {
  flex: 1 0 50%;
}

.brand h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
}

.brand h3 {
  font-size: 1rem;
  font-weight: 400;
}

.navMain ul,
.navInfos ul {
  display: flex;
}

.navMain ul {
  justify-content: center;
  align-items: center;
}

.navMain .link {
  display: inline-block;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;
  margin: 0 1.25rem;
  padding-bottom: 2px;
  position: relative;
  overflow: hidden;
}

.navMain .link::before {
  content: '';
  position: absolute;
  transition: transform .35s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: translateX(-100%);
}

.navMain .link:hover::before {
  transform: translateX(0);
}

.navMain .link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
  bottom: 0;
}

.header.dark .link.active::after,
.header.dark .link::before {
  background: var(--black);
}

.navInfos ul {
  justify-content: end;
  align-items: center;
}

.navDesktop {
  display: flex;
  justify-content: center;
}

.langSwitcher {
  display: flex;
  justify-content: end;
  align-items: center;
}

.langSwitcher div {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0 .4rem;
  opacity: .6;
}

.langSwitcher .active {
  opacity: 1;
}

.headerBurger {
  opacity: 1;
  position: relative;
  z-index: 1;
  width: 24px;
  height: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.headerBurger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: white;
  transition: all .4s var(--easing);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.dark .headerBurger>div {
  background: var(--black);
}

.header .headerBurger.active>div {
  background: white;
}

.headerBurger>div::before,
.headerBurger>div::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 3px;
  background: inherit;
  transition: all .3s var(--easing);
}

.headerBurger>div::after {
  top: -8px;
}

.headerBurger>div::before {
  top: 8px;
}

.headerBurger.active>div {
  transform: rotate(135deg);
}

.headerBurger.active>div::before,
.headerBurger.active>div::after {
  top: 0;
  transform: rotate(90deg);
}

.headerBurger.active>div::after {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .header .headerBurger {
    display: none;
  }
}

.mobileMenuWrapper {
  background: var(--black);
  color: white;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  transform: translateY(-100%);
  transition: transform .35s var(--easing);
}

.mobileMenuWrapper.active {
  transform: translateY(0);
}

.mobileNav {
  width: 100%;
  margin: 50% auto;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.mobileNav li {
  padding: .2rem 0;
}

.mobileNav .link {
  text-decoration: underline;
}

.socialLinks {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
}

.socialLinks li:not(li:first-child) {
  margin-left: .8rem;
}

.socialLinks svg {
  margin-right: .5rem;
}

.footer {
  margin: auto 0;
  width: 100%;
  min-height: 3rem;
  background-color: var(--light-grey);
  padding: 2rem 0;
}

.footer p {
  font-size: .9rem;
  text-align: center;
}

.footerLinks {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footerLinks a {
  display: block;
  padding: 0 .5rem;
}

.footerLinks svg {
  width: 24px;
  height: 24px;
}

.footerLinks a:first-of-type svg {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 768px) {
  .brand h1 {
    font-size: 1.8rem;
  }

  .brand h3 {
    font-size: .85rem;
  }

  .navMain {
    display: none;
  }

  .langSwitcher div {
    font-size: 1rem;
  }

  .mobileMenuWrapper {
    display: block;
  }
}